$primaryColor: #ffe401;
$secondaryColor: #ff652f;

.bg {
  background-color: $primaryColor;
}

.img-fliter {
  filter: grayscale(100%);
}

.bg-transparent {
  background-color: transparent !important;
}

.text-primary {
  color: $primaryColor !important;
}

.text-secondary {
  color: $secondaryColor !important;
}

.bg-grey {
  background-color: #747474;
}

.text-dark {
  color: #272727;
}
.text-orange {
  color: $secondaryColor;
}

.bg-orange {
  background-color: $secondaryColor;
}
.bg-dark {
  background-color: #272727 !important;
}

.text-warning {
  color: $primaryColor !important;
}
