@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.bg {
  background-color: #ffe401;
}

.img-fliter {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.bg-transparent {
  background-color: transparent !important;
}

.text-primary {
  color: #ffe401 !important;
}

.text-secondary {
  color: #ff652f !important;
}

.bg-grey {
  background-color: #747474;
}

.text-dark {
  color: #272727;
}

.text-orange {
  color: #ff652f;
}

.bg-orange {
  background-color: #ff652f;
}

.bg-dark {
  background-color: #272727 !important;
}

.text-warning {
  color: #ffe401 !important;
}

.aws-btn {
  --slider-height-percentage: 60%;
  --slider-transition-duration: 770ms;
  --organic-arrow-thickness: 4px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 40px;
  --organic-arrow-color: #3f8577;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #4a9c8c;
  --control-bullet-active-color: #3f8577;
  --loader-bar-color: #9d4c15;
  --loader-bar-height: 6px;
}

* {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

.navbar-light {
  background-color: #ffe401 !important;
}

.navbar-light .nav-link {
  display: inline-block;
  text-decoration: none;
}

.navbar-light .nav-link::before {
  content: "";
  display: block;
  width: 0;
  height: 1.7px;
  background: #ff652f;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.navbar-light .nav-link::before:hover::after {
  width: 100%;
}

.home-head {
  font-size: 80px;
}
.contact-heading {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  text-align: center;
  padding: 75px;
  color: #000000;
}

.carousel-inner {
  height: 650px;
}

@media screen and (max-width: 550px) {
  .home-head {
    font-size: 35px;
  }

  .contact-heading {
    font-size: 35px;
  }

  .carousel-inner {
    height: 400px;
  }
}

/* Carousel component */
.carousel-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}

/* motivation component */
.motiv-text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/* About section */
.about-section {
  padding: 0%;
  margin: 0%;
}

.about-heading {
  width: 588px;
  height: 100px;
  left: 134px;
  top: 219px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 85px;
  padding-left: 134px;
  padding-top: 160px;
  padding-bottom: 140px;
  color: #ffe401;
}

.about-description {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  text-align: right;
  line-height: 56px;
  padding-bottom: 225px;
  padding-right: 134px;
  padding-left: 134px;
  color: white;
}

.about-description span {
  color: #ffe401;
}

/* Objective section */
.objective-title {
  font-weight: 800;
  font-size: 72px;
  padding-top: 30px;
  text-align: right;
}

.objective-button {
  width: 355px;
  height: 345px;
  border-radius: 50%;
  border: 10px solid #ff652f;
  text-align: center;
  text-transform: uppercase;
  background-color: #272727;
  font-weight: 500;
  font-size: 25px;
}

.objective-button:focus {
  outline: none;
}

.objective-button:hover {
  background-color: #ff652f;
  box-shadow: 0 2.8px 2.2px rgba(255, 255, 255, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(255, 255, 255, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(255, 255, 255, 0.086),
    0 100px 80px rgba(255, 255, 255, 0.12);
}

@media screen and (max-width: 750px) {
  .about-heading {
    text-align: center;
    width: auto;
    font-size: 35px;
    padding-right: 0;
    padding-left: 14px;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #ffe401;
  }

  .about-description {
    font-size: 20px;
    text-align: center;
    line-height: 36px;
    padding-bottom: 25px;
    padding-right: 34px;
    padding-left: 34px;
  }

  .objective-title {
    font-weight: 800;
    font-size: 36px;
    padding-top: 30px;
    text-align: center;
  }

  .objective-button {
    margin-left: 22% !important;
    width: 255px;
    height: 245px;
    border: 10px solid #ff652f;
    font-weight: 500;
    font-size: 20px;
  }

  .objective-button-one {
    margin-top: -50% !important;
  }
  .objective-button-three {
    margin-top: -9% !important ;
    margin-bottom: 10% !important;
  }
}

.modal_special {
  background-color: #ff652f;
}

.modal_special p {
  font-weight: 500;
  font-size: 45px;
  text-align: center;
}

.no-border {
  border: none;
}

/* Courses section */
.course-heading {
  font-weight: 800;
  font-size: 60px;
  text-align: center;
}

.timeline {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 5px;
  bottom: 5px;
  width: 3px;
  background: white;
  left: 50%;
  margin-left: -2.5px;
}

.timeline > li {
  position: relative;
  min-height: 50px;
  padding: 15px 0px;
}

.timeline .timeline-icon {
  left: 45%;
  position: absolute;
  text-align: center;
  width: 10%;
  top: 40px;
}

.timeline .timeline-icon .inner-circle {
  text-decoration: none;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 40px;
  background: #ffe401;
  line-height: 10px;
  font-size: 14px;
  border: 5px solid #ffe401;
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
}

.timeline p {
  font-weight: normal;
  font-size: 30px;
  line-height: 42px;
  color: #000000;
}

.timeline p span {
  color: #ffe401;
}

.timeline h1 {
  font-weight: bold;
  font-size: 50px;
  line-height: 85px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #000000;
}

.content-left {
  margin-right: 55%;
  text-align: right;
}

.content-right {
  margin-left: 55%;
  text-align: left;
}

@media screen and (max-width: 550px) {
  #timeline-head {
    text-align: left !important;
  }

  .timeline p {
    text-align: left !important;
  }
  .timeline h1 {
    text-align: left !important;
    margin: auto;
  }
  .timeline .timeline-icon .inner-circle {
    width: 30px;
    height: 30px;
  }
  .content-left {
    margin: auto;
  }

  .content-right {
    margin: auto;
  }
  .timeline::before {
    left: 5%;
  }

  .timeline .timeline-icon {
    left: 0%;
  }
  .timeline p {
    font-size: 20px;
  }
  .timeline h1 {
    font-size: 40px;
  }
  .course-heading {
    font-size: 40px;
  }

  .modal_special p {
    font-size: 30px;
  }
}

/* Footer-section */
.footer-heading {
  position: relative;
  width: 150px;
  height: 90px;
  left: 0%;
  top: 15px;
  font-weight: 500;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #000000;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.footer-link {
  font-weight: 500;
  font-size: 23px;
}

.footer-link .link {
  color: black;
}

/* .footer-link .seprator {
  width: 269px;
  height: 0px;
  border: 1px solid #ffffff;
  transform: rotate(89.79deg);
} */
.footer-contact {
  font-weight: bold;
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  color: white;
}

/* 
home news */
.news-container {
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  background-color: #272727;
}

.news {
  font-size: 60px;
  font-weight: bold;
}

/* research */
.research-heading {
  font-weight: bold;
  font-size: 60px;
  padding: 0 200px;
}

.btn-link {
  text-decoration: none !important;
}

.remove-space {
  padding: 0 !important;
  margin: 0 !important;
}

.text-text {
  font-weight: 600;
  font-size: 25px;
  text-align: center;
}

.research button {
  background-color: #ffe401;
  color: #272727;
  padding: 10px 30px;
  font-size: 25px;
  font-weight: bold;
}

.research .btn {
  background-color: #ffe401;
  border-color: #ffe401;
  color: #272727;
}

.ehipassiko {
  position: relative;
  color: "Raleway", sans-serif;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.facility-heading {
  font-weight: bold;
  font-size: 60px;
}

.news-modal-heading {
  font-size: 40px;
  color: #ff652f;
}

.news-modal p {
  font-weight: 500;
  font-size: 25px;
  text-align: center;
}

.facility-description {
  font-size: 25px;
}

.facility-madeit {
  font-size: 25px;
}

@media screen and (max-width: 550px) {
  .ehipassiko {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .facility-content {
    display: block;
  }

  .facility-content img {
    display: block;
    margin-left: auto;
    margin-right: auto !important;
  }

  .research-heading {
    font-size: 40px;
    padding: 0 20px;
  }

  .news {
    font-size: 40px;
  }

  .facility-description {
    font-size: 20px;
  }

  .facility-madeit {
    font-size: 20px;
    text-align: center;
  }
}

/* ///////////// */

/* .wrap {
  font-size: 24px;
}

.clip-svg {
  width: 0;
  height: 0;
}

.clip-caption {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.clip-each {
  display: block;
  position: relative;
  clip-path: url("#hexagon-clip");
  transition: all 0.1s ease-in;
  margin: 0 auto;
}

a.clip-each:hover {
  background: #9e566e;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.clip-gradient {
  background: #ffe401;
  width: 160px;
  height: 160px;
}

.clip-gradient .clip-caption {
  color: #fff;
}

@media only screen and (min-width: 550px) {
  .wrap {
    display: table;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
} */

/*# sourceMappingURL=style.css.map */
