@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./components/helper";
@import "./components/carousal";

$primaryColor: #ffe401;
$secondaryColor: #ff652f;

$primaryFont: "Raleway", sans-serif;

* {
  scroll-behavior: smooth;
  font-family: $primaryFont;
}

.navbar-light {
  background-color: $primaryColor !important;
  .nav-link {
    display: inline-block;
    text-decoration: none;
    &::before {
      content: "";
      display: block;
      width: 0;
      height: 1.7px;
      background: $secondaryColor;
      transition: width 0.3s;
      &:hover::after {
        width: 100%;
      }
    }
  }
}

.contact-heading {
  font-family: $primaryFont;
  font-style: normal;
  font-weight: 800;
  font-size: 86px;
  text-align: center;
  padding: 75px;
  color: #000000;
}

/* Carousel component */

.carousel-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}

/* motivation component */

.motiv-text {
  display: inline-flex;
}

.bg-dark {
  background-color: #272727 !important;
}

.text-warning {
  color: $primaryColor !important;
}

/* About section */

.about-section {
  padding: 0%;
  margin: 0%;
}

.about-heading {
  width: 588px;
  height: 100px;
  left: 134px;
  top: 219px;
  font-family: $primaryFont;
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 85px;
  padding-left: 134px;
  padding-top: 160px;
  padding-bottom: 140px;
  color: #000000;
}

.about-description {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  text-align: right;
  line-height: 56px;
  padding-bottom: 225px;
  padding-right: 134px;
  padding-left: 134px;
  color: white;
}

.about-description span {
  color: $primaryColor;
}

/* Objective section */

.objective-title {
  font-weight: 800;
  font-size: 72px;
  padding-top: 30px;
}

.objective-button {
  width: 355px;
  height: 345px;
  border-radius: 50%;
  border: 10px solid $secondaryColor;
  text-align: center;
  text-transform: uppercase;
  background-color: #272727;
  font-weight: 500;
  font-size: 25px;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: $secondaryColor;
  }
}

.modal_special {
  background-color: $secondaryColor;
  p {
    font-weight: 500;
    font-size: 45px;
    text-align: center;
  }
}

.no-border {
  border: none;
}

/* Courses section */

.course-heading {
  font-weight: 900;
  font-size: 72px;
  line-height: 85px;
  text-align: center;
}

.timeline {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 5px;
    bottom: 5px;
    width: 3px;
    background: white;
    left: 50%;
    margin-left: -2.5px;
  }
  > li {
    position: relative;
    min-height: 50px;
    padding: 20px 0px;
  }
  .timeline-icon {
    left: 45%;
    position: absolute;
    text-align: center;
    width: 10%;
    top: 40px;
    .inner-circle {
      text-decoration: none;
      width: 40px;
      height: 40px;
      display: inline-block;
      border-radius: 40px;
      background: $secondaryColor;
      line-height: 10px;
      font-size: 14px;
      border: 5px solid $secondaryColor;
      transition: border-color 0.2s linear;
    }
  }
  p {
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    span {
      color: $secondaryColor;
    }
  }
  h1 {
    font-weight: bold;
    font-size: 72px;
    line-height: 85px;
    text-decoration-line: underline;
  }
}

.content-left {
  margin-right: 60%;
  text-align: right;
}

.content-right {
  margin-left: 60%;
  text-align: left;
}

/* Footer-section */
.footer-heading {
  position: relative;
  width: 150px;
  height: 90px;
  left: 0%;
  top: 15px;
  font-weight: 500;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #000000;
  transform: rotate(-90deg);
}
