/* Contact page */


.navbar {
  background-color: #ffe401;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.color-nav {
  color: #272727;
}

.left
{
    position: relative;
}

.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FF652F;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.left:hover:before {
  visibility: visible;
  width: 100%;
}

.background {
  background-color: #ffe401;
}

.img-description {
  text-align: center;
}

.contact-heading {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 86px;
  text-align: center;
  padding: 75px;
  color: #000000;
}
