/* Contact page */

.navbar {
  background-color: #ffe401;
}

.color-nav {
  color: #272727;
}

.background {
  background-color: #ffe401;
}

.img-description {
  text-align: center;
}

.contact-heading {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 86px;
  text-align: center;
  padding: 75px;
  color: #000000;
}
